* {
  max-height: 999999px;
}

:root {
  --navbar-height: 64px;
}

body,
html {
  background-color: black;
  color: white;
  overscroll-behavior-y: none;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
#__nuxt {
  height: 100%;
}

.noscroll {
  overscroll-behavior-y: none;
  overflow: hidden;
}

#scroller {
  overflow: auto;
  overflow: overlay;
}

*::-webkit-scrollbar {
  width: 5px;
}

@media screen and (min-width: 768px) {
  *::-webkit-scrollbar {
    width: 10px;
  }
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(255 255 255 / 20%);
}

.hidescrollbar {
  scrollbar-width: none;
}
.hidescrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
  block-size: auto;
}
